<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <div class="footer-con" th:fragment="foot">
		<ul class="menu">
				<li><a th:href="@{/}">首页</a></li>
				<li><a th:href="@{/species}">金彦导师</a></li>
				<li><a th:href="@{/vts}">视频集锦</a></li>
				<li><a th:href="@{/cources}">金彦课程</a></li>
				<li><a th:href="@{/topnews}">企业新闻</a></li>
				<li><a th:href="@{/about}">关于我们</a></li>
				<li><a th:href="@{/suggestion}">意见反馈</a></li>
				<li><a th:href="@{/contact}">联系金彦</a></li>
		</ul>
		<p class="beian">西安金彦舞蹈有限公司 版权所有 (c)2014-2019 tytopshow.com All Rights Reserved  <span>冀ICP备19030831号</span><br>金彦舞蹈有限公司</p>
	</div>
</html>